body {
    background: rgb(201, 132, 5); 
    margin-left: 100px;
    margin-right: 200px;
}

header {
margin-top: 70px;
}

h1 {
    color: blue
    font-family: fantasy;
    
}

h2 {
    color: black;
    font-family: fantasy;
}

h3 {
    color: black;
    font-family: fantasy;
}

P {
    font-size: 18px;
}

.img_padrao {
    width: 30px;
}

footer{
    margin-bottom: 50px;
}